# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mvolonia.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\csProjects\Mvolonia\.idea\.idea.Mvolonia\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
